/* PRIMEIRA PARTE */
body{
	height: 100%;
	margin: auto;
	background: url(imagens/bgteste.jpg) no-repeat;
	border: 0px solid blue;
	background-attachment: fixed;
}
html, #topo {
	height: 100%;
}
#topo {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-end;
	border: 1px solid pink;

}
.topo-text:nth-child(1){
	text-align: center;
	margin-top: 100px;
	color: #fff;
	font-size: 500%;
	font-weight: bold;
}
.topo-text:nth-child(2){
	text-align: center;
	margin-top: 20px;
	color: #fff;
	font-size: 50px;
	font-weight: bold;
}
#cx-icon {
	border: 1px solid yellow;
	width: 60%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: strech;
	margin: auto;
}
.icones {
	width: 100%;
	margin: 0 10px;
}
#meio {
	background: rgba(255,255,255,0.5);
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-start;

}
.description{
	border: 3px solid yellow;
	width: 80%;
	margin: 0 auto;
	color: #fff;
	font-size: 100px;
}
.description:nth-child(1){
	width: 30%;
	border-radius: 50%;
}