/* PRIMEIRA PARTE */
body{
	height: 100%;
	margin: auto;
	background: url(imagens/bgteste.jpg) no-repeat;
	border: 0px solid blue;
	background-attachment: fixed;
}
html, #topo {
	height: 100%;
}
#topo {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: strech;
	border: 5px solid pink;

}
.topo-text:nth-child(1){
	text-align: center;
	margin-top: 50px;
	color: #fff;
	font-size: 100%;
	font-weight: bold;
}
.topo-text:nth-child(2){
	text-align: center;
	margin-top: 20px;
	color: #fff;
	font-size: 100;
	font-weight: bold;
}
#cx-icon {
	border: 1px solid yellow;
	width: 60%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: strech;
	margin: auto;
}
.icones {
	width: 60%;
	margin: 0 0px;
}
#meio {
	background: rgba(255,255,255,0.5);
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-start;

}
.description{
	border: 3px solid yellow;
	width: 80%;
	margin: 0 auto;
	color: #fff;
	font-size: 100px;
}
.description:nth-child(1){
	width: 30%;
	border-radius: 50%;
}

/* Media queries */
/* xs < 768 */
@media screen and (max-width: 767px) {
	.topo-text:nth-child(1) {
		color: red;
	}
	.icones {
	width: 70%;
	margin: 0 0px;
	}
	#cx-icon {
	border: 1px solid yellow;
	width: 80%;
	}
	/*.description:nth-child(1){
	width: 60%;
	}*/
}

/* sm */
@media screen and (min-width: 768px) {
	.topo-text:nth-child(1) {
		color: green;
	}
	.icones {
	width: 80%;
    }
    #cx-icon {
	border: 1px solid yellow;
	width: 80%;
	}
	/*.description:nth-child(1){
	width: 50%;
	}*/
}

/* md */
@media screen and (min-width: 992px) {
	.topo-text:nth-child(1) {
		color: pink;
	}
	.icones {
	width: 80%;
	}
	#cx-icon {border: 1px solid yellow;
	width: 80%;
	}
	/*.description:nth-child(1){
	width: 40%;
	}*/
}

/* lg */
@media screen and (min-width: 1200px) {
	.topo-text:nth-child(1) {
		color: blue;
	}
	.icones {
	width: 60%;
	}
	#cx-icon {border: 1px solid yellow;
	width: 60%;
	}
}
/* Fim Media queries */